:root {
    --green: #98ad99;
    --red: #9D181D;
    --white: #f5f3f1;
    --black: #342D27;
    --tan: #E3D6B2;
    --navy: #1f3855;
}

canvas {
    width: 100%;
    object-fit: contain;
}

body {
    background-color: var(--white);  
}

viewport {
    border-radius: 25px;
    border: 2px solid #f5f3f1;
    padding: 20px;
    width: 90%;
    height: 90%; 
}

.canvas {
    width: 100%;
    object-fit: contain;
}

.button {
    transition-duration: 0.4s;
    opacity: 0.8;
}

.button:hover{
    opacity: 1;
}

img {
    border-radius: 8px;
    width: 100px;
    height: auto;
}

.grayed {
    background-color: rgba(150,150,150,0.2);
}

.image-hover-highlight {
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
    border: 1px solid gray;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(110%);
    transition: all 0.50s;
}

.roomCard {
    border-style: solid;
    padding-left: 10px;
}
/*COLOR*/
.green {
    background-color: var(--green);
    color: var(--navy);
}

.red {
    background-color: var(--red);
    color: var(--black);
}

.navy {
    background-color: var(--navy);
    color: var(--green);
}

.black {
    background-color: var(--black);
    color: var(--white);
}

.white {
    background-color: var(--white);
    color: var(--black);
}
.green-txt {
    color: var(--green);
}

.red-txt {
    color: var(--red);
}

.navy-txt {
    color: var(--navy);
}

.black-txt {
    color: var(--black);
}

.white-txt {
    color: var(--white);
}

#dark .p{
    color: var(--green);
}

#light{

}

/*LOADER*/
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: var(--navy);
    z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}
#loader {
    display: block;
    position: relative;
    z-index: 1001; 
}
#loader-content {
    
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    -webkit-transition: all 0.3s 0.6s ease-out;
        transition: all 0.3s 0.6s ease-out;
}

