div.user-sm {
    height: 3rem;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 var(--black);
    border-radius: 3rem;
    text-align: left;
    color: var(--navy);
    text-transform: lowercase;
    font-weight: bold;
    margin: .25rem;
}

img.profile-sm {
    border-radius: 50%;
    max-width: 3rem;
}

img.profile-lg {
    border-radius:50%;
    max-width: 20rem;
    background-color: var(--white);
    border: .2rem solid var(--navy);
    float: center;
    margin: 1rem;
}

div.user-card {
    background-color: var(--white);
    width: 90%;
    margin: 5%;
    padding: 2rem;
    border-radius: 3rem;
    text-align: center;
}

img.lead {
    text-align: center;
    max-height: 3rem;
    max-width: 3rem;
}

span.prev-1 {
    text-align: center;
    color: var(--white);
    font-weight: bold;
    max-height: 2rem;
    padding: .5rem;
    background-image: url(/public/assets/gameplay/chip-blue.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0ch;
    @media(max-width: 720px) {
        visibility: hidden;
    }
}
span.prev-2 {
    text-align: center;
    color: var(--white);
    font-weight: bold;
    max-height: 2rem;
    padding: .5rem;
    background-image: url(/public/assets/gameplay/chip-red.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0ch;
    @media(max-width: 720px) {
        visibility: hidden;
    }
}
span.prev-3 {
    text-align: center;
    color: var(--black);
    font-weight: bold;
    max-height: 2rem;
    padding: .5rem;
    background-image: url(/public/assets/gameplay/chip-white.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0ch;
    @media(max-width: 720px) {
        visibility: hidden;
    }
}

p.align-items-right {
    text-align: right;
    align-items: right;
}

#leaderboard {
    background-color: var(--white);
    padding: 2rem;
    max-width: 90%;
    box-shadow: 0 4px 8px 0 var(--black);
    border-radius: 2rem;
    margin: 5%;
}

#user-stats {
    margin: 2rem 10%;
    max-width: 80%;
}